body {
    font-family: Arial, sans-serif;
    background-color: #ef1010;
    color: #f70505;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fff9f9;
}

form {
    background-color: #0d0d0d;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #d12020;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d50303;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #30dc38;
}

#resultado {
    margin-top: 20px;
    background-color: #f6f1f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resultado p {
    margin: 5px 0;
}
